## Importes

In [1]:
# Utils
import pandas as pd
from copy import deepcopy
from sklearn.preprocessing import Normalizer, StandardScaler
import warnings
from pathlib import Path

# Avaliação, Pontuação e Divisão
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Salvando e carregando o modelo
import pickle
import joblib

# Visualização de Dados
import matplotlib.pyplot as plt
import seaborn as sns

# Modelos
import keras
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

##
warnings.filterwarnings("ignore")

## Configurações

In [3]:
# configs
data_path =  Path('../data/02_outputs')
save_model_path = Path('../models')

## Modelagem

In [4]:
# Carregando os dados
df = pd.read_csv(data_path / '02_to_model_v1.csv')

,year,home_rank,home_score,away_rank,away_score,home_n_participation,away_n_participation,rank_diff,score_diff,participation_diff,target
0,1930,35.0,1566.0,41.0,1497.0,0,0,-6.0,69.0,0,1
1,1930,14.0,1762.0,31.0,1593.0,0,0,-17.0,169.0,0,1
2,1930,25.0,1658.0,9.0,1890.0,0,0,16.0,-232.0,0,1
3,1930,37.0,1544.0,42.0,1496.0,0,0,-5.0,48.0,0,1
4,1930,1.0,2062.0,35.0,1566.0,0,0,-34.0,496.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
894,2018,30.0,1753.0,10.0,1925.0,3,4,20.0,-172.0,-1,0
895,2018,2.0,2094.0,3.0,2035.0,14,12,-1.0,59.0,2,1
896,2018,10.0,1925.0,7.0,1960.0,4,14,3.0,-35.0,-10,1
897,2018,3.0,2035.0,7.0,1960.0,12,14,-4.0,75.0,-2,1
898,2018,2.0,2094.0,10.0,1925.0,14,4,-8.0,169.0,10,1